header {
    height: 80px;
    display: flex;
    align-items: center;
    background-color: rgb(53, 114, 255);
    color: whitesmoke;
    margin-bottom: 30px;
    font-size: 1.2em;

    h1.logo {
        flex-grow: 1;

        a {
            text-decoration: none;
            cursor: default;
        }
    }

    nav {
        a {
            &:not(:last-child) {
                margin-right: 10px;
            }

            &.active {
                color: rgb(255, 247, 0);
            }
        }
    }
}
